.img_caption {
  font-size: 10px;
  text-align: right;
}

.greylink {
  color: gray;
}

#homebackground {
  background: url("/static/img/fantasy.jpg") no-repeat;
  background-size: cover;
  color: white;
  /* height: 1000px; */
  padding: 15% 15% 15% 15%;
}

#listbackground {
  background: url("/static/img/watercolour.jpg") no-repeat;
  background-size: cover;
  color: #3cc6de;
  /* height: 1000px; */
  padding: 0 15% 15% 15%;
}
