{% extends "base.html" %} {% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div id="homebackground">
  <h1>Magical Idea Universe</h1>
  <br />
  <a href="{% url 'idea_list' %}" class="btn btn-info">To the ideas</a>
  <a href="{% url 'idea_new' %}" class="btn btn-info">New idea</a>
</div>
<p class="img_caption">Image by <a class="greylink" href="https://pixabay.com/users/kellepics-4893063/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5316369">Stefan Keller</a> from <a class="greylink" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5316369">Pixabay</a></p>
{% endblock content %}
