{% extends "base.html" %} {% load static %}
{% block title %}Ideas{% endblock title %}
{% block content %}
<div class="card mb-3">
    <h1 style="color:#3cc6de">Ideas</h1>
    <img
      src="{% static 'img/energy.jpg' %}"
      class="card-img-top"
      style="height: 230px"
      alt="energy"
    />
    <p class="img_caption">
        Image by
        <a class="greylink"
        href="https://pixabay.com/users/thedigitalartist-202249/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5278458">
        Pete Linforth</a> from
        <a class="greylink"
        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5278458">
        Pixabay</a>
    </p>
</div>
<label for="filter-status">Filter by status:</label>
<select id="filter-status" onchange="filterStatus()" style="margin-bottom: 5px; padding: 5px; background: #282829; color: white;">
    <option value="all" selected>All</option>
    <option value="Pending">Pending</option>
    <option value="In Progress">In Progress</option>
    <option value="Completed">Completed</option>
</select>
<label for="filter-kind">Filter by kind:</label>
<select id="filter-kind" onchange="filterKind()" style="margin-bottom: 5px; padding: 5px; background: #282829; color: white;">
    <option value="all" selected>All</option>
    <option value="Vision">Vision</option>
    <option value="Project">Project</option>
    <option value="Try something">Try something</option>
</select>
<!-- <input type="text" id="filterInput" onkeyup="filterStatus()" placeholder="Search for status..." title="Type in a status" style="margin-bottom: 20px; border: 2px solid rgb(78, 168, 180);"> -->
<table id="ideaTable" class="table table-dark table-striped">
    <tr>
        <th>Idea</th>
        <th>Kind</th>
        <th>Status</th>
        <th style="text-align: right">What would you like to do?</th>
    </tr>
    {% for idea in idea_list %}
        <tr>
            <td>{{ idea.idea }}</td>
            <td>{{ idea.get_kind_display }}</td>
            <td>{{ idea.get_status_display }}</a></td>
            <td style="text-align: right"><a href="{% url 'idea_detail' idea.pk %}" class="btn btn-sm btn-light">Details</a>
                <a href="{% url 'idea_update' idea.pk %}" class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'idea_delete' idea.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>            
    {% endfor %}
</table>
<a href="{% url 'idea_new' %}" class="btn btn-dark btn-outline-info">New idea</a>
<br/>
<br/>

<script>
    function filterStatus() {
        var status,
            filter,
            table,
            tr,
            td,
            i,
            txtValue;
        status = document.getElementById("filter-status");
        filter = status.options[status.selectedIndex].value;
        table = document.getElementById("ideaTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (filter == "all" || txtValue == filter) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function filterKind() {
        var status,
            filter,
            table,
            tr,
            td,
            i,
            txtValue;
        status = document.getElementById("filter-kind");
        filter = status.options[status.selectedIndex].value;
        table = document.getElementById("ideaTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (filter == "all" || txtValue == filter) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
  
{% endblock content %}
  
