{% extends "base.html" %}
{% block title %}Ideas{% endblock title %}
{% block content %}
    <h1 style="color: #3cc6de">Ideas</h1>
    <table class="table table-dark table-striped">
        <tr>
            <th>Idea</th>
            <th>Kind</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for idea in idea_list %}
            <tr>
                <td>{{ idea.idea }}</td>
                <td>{{ idea.kind }}</td>
                <td>{{ idea.status }}</a></td>
                <td><a href="{% url 'idea_detail' idea.pk %}">Details</a></td>
            </tr>
        {% endfor %}
    </table>
  
{% endblock content %}
  
